body {
    padding: 0px;
    margin: 0px;
}

#cintaFondo {
    height: 200px;
    width: 100vw;
    background-color: black;
}

#cinta {
    display: inline-block;
    border: 0px solid black;
    padding: 10px 0px ;
    position: absolute;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
}

.sobre {
    height: 180px;
    width: 300px;
    background-color: aliceblue;
    position: relative;
}

.separacion {
    height: 180px;
    width: 50px;
    background-color: rgba(red, green, blue, 0);
    position: relative;
}