body{
    margin: 0px;
    padding: 0px;
    background-image: url(https://media.istockphoto.com/id/695001370/es/foto/textura-hormig%C3%B3n-pulido-piso-de-concreto-%C3%A1spero-fondo-de-construcci%C3%B3n.jpg?s=612x612&w=0&k=20&c=y26WltZ7eiANTyRzuxJVCdXFG33a6fm-nrQxpEWwUQY=); 
    background-position: center;
    overflow: hidden;
}   

.main{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    width: 100vw;
}

#inputs {
    padding: 1rem;
    width: 80vw;
    margin:auto;
    margin-top: 1rem;
    display: flex;
    flex-direction: row;
    margin-bottom: 1rem;
    justify-content: center;
    align-items: center;
    background-color: #414040;
    border-radius: 15px;
}

#monitor {
    height: 15vw;
    width: 20vw;
}

.hidden {
    display: none !important;
}

.disabledBtn {
    background-color: grey !important;
    color: lightgray !important;
}

/* ---- CONVEROYBELT ---- */
.conveyer-belt-container{
    display: flex;
    height: 15vw;
    width: 120vw;
    background-color: rgb(129, 95, 95, 0);
}

#conveyer-belt-1 {
    width: 9vw;
}

#conveyer-belt-2 {
    width: 18vw;
}

#conveyer-belt-3 {
    width: 18vw;
}

#conveyer-belt-4 {
    width: 45vw;
}

.singel-conveyer-belt {
    /*background-color: rgb(37, 37, 37);*/
    background-image: url(../images/velt.jpg); 
    background-size: cover;
    display: flex;
    align-items: center;
}

/* ---- CARDREADER ---- */
#card-lector{
    height: 15vw;
    width: 7vw;
    background-image: url(../../simulador/images/scanner.jpg);
    background-size: contain; 
    background-position: center; 
    aspect-ratio: 0.48;
    left: 25%;
    display: flex;
    flex-direction: column;
    justify-content: end;
}

/* ---- PRINTINGSTATIONS ---- */

.priting-station-box{
    height: 15vw;
    width: 10vw;
    background-image: url(../../simulador/images/madera.jpg);
    background-size: cover; 
    background-position: center;
    display: flex;
    flex-direction: column;
    align-items: center;    
}

.printer-container{
    height: 50%;
    margin-top: 10px;
    background-image: url(../../simulador/images/printerHp.png);
    background-size: cover; 
    background-position: center;
}

/* ---- BROCHUREPRINTER ---- */
#priting-station-box-1{
    left: 50%;
}

/* ---- ENVELOPEPRINTER ---- */
#priting-station-box-2{
    left: 75%;
}

/* ---- MONITOR ---- */
.monitor-container{      
    height: 50%;
    width: 100%;
    background-image: url(../../simulador/images/monitorXL.png);
    background-size: cover;
    background-position: center;
}

.monitor-lector-container{
    width: 100%;
    /*background-image: url(../../simulador/images/monitorXL.png);*/
    background-size: cover;
    background-position: center;
}

.monitor-text {
    /*transform: translate(-50%, -50%);*/
    color: white;
    text-align: left;
    width: 150px;
    /*height: 90px;*/
    padding-left: 5px;
}

.monitor-text p {
    position: relative;
    z-index: 1;
}

/* ---- CONVEROYBELTHOLE ---- */
.hole-running-belt {
    width: 1vw;
    height: 300px;
    background-color: rgba(78, 46, 46,0);  
}

/* ---- IDLOTEBOX ---- */
.lote-box-container {
    padding: 1rem;    
    display: flex;
    flex-direction: column;
    align-items: center;
    align-self: center;
    margin-bottom: 1rem;
}

.lote-box-container > div {
    display: flex;
    font-size: x-large;
}

.lote-box-container  span {
    color: rgb(223, 216, 216);
    margin-right: 1rem;
}

.lote-box-container input {
    font-size: x-large;
    border: 1px solid #ccc;
    border-radius: 15px;
    text-align: center;
    margin-right: 1rem;
    margin-bottom: 1rem;
}

#lote-id-input {
    margin-bottom: 0px;
}

.action-button {
    padding: 0px 10px;
    border: none;
    border-radius: 15px;
    cursor: pointer;
    text-align: center;
}

#start-button {
    font-size: x-large;
    background-color: #007bff;
    color: white;
    margin-right: 1rem;
}

#start-button:hover {
    background-color: #0056b3;
}

#stop-button {
    font-size: x-large;
    background-color: #ff0000;
    color: white;
}

#stop-button:hover {
    background-color: #cc0a0a;
}

/*---- DISPLAY ---- */
.display-container {
    width: 50vw;
    height: 5vw;
    position: absolute; 
    background-color: black;
    border-radius: 15px;
    margin-top: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
    top: 15%;
}

.display-message {
    color: lime;
    font-size: 1.5em;
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
}